@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}
.padding-top-25 {
  padding-top: 25px;
}

.gap-10 {
  gap: 10px;
}
/* .DropdownContent > a {
  text-decoration: none;
} */